  <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper purple darken-3">
            <a href="#" class="brand-logo">ArticleScrape!</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#" class="nav-butt">Home</a></li>
              <li><a href="#" class="nav-butt">Saved Articles</a></li>
              <a class="waves-effect waves-light btn-large purple accent-4"><i class="material-icons left purple accent-4">remove_red_eye</i>Scrape Now!</a>
            </ul>
        </div>
      </nav>
  </div>


<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">ArticleScrape!</h1>
    <p class="lead">Scraping the New York Times!</p>
  </div>
</div>

<div class="articles">

</div>